<html lang="en">
    <div class="basic">
    {% extends "./base.html" %}
        {% block title %} Welcome Home! {% endblock %}
        {% block back-button %} {% endblock %}
        {% block content %}
            <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="site-heading"> <h1>Recent posts</h1> </div>

                <!-- Post preview-->
            {% if object_list %}
                {% for post in object_list %}
                    <div class="post-preview">
                        <a href="/post/{{ post.pk }}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">Click to find out more!</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.auth_user }}</a>
                            on {{ post.created_at }}
                        </p>
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    </div>
</html>