  {% extends "./base.html" %}
    {% block page-header %}
      <header class="masthead">

      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">Created by {{ post.auth_user }}</h2>
              <span class="meta">
                on {{ post.created_at}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock %}
    {% block title %} POST {% endblock %}
    {% block content %}
        {% load crispy_forms_tags %}
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>
              {{ post.content }}
            </p>
          </div>
        </div>
      </div>
    </article>

    <div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
        <div class="bg-white p-2">
          Comments...
          <hr/>
          {% for comment in comments %}
          <div class="d-flex flex-row user-info">
            <div class="d-flex flex-column justify-content-start ml-2"><span style="color: #6c6e7e">{{ comment.auth_user.username }}</span></div>
          </div>
            <div class="mt-2" style="font-size: medium">
            {{ comment.description}}
            </div>
            <hr/>
              <form method="GET" action='./{{ request.post_id }}/{{ comment.id }}/like'>
                {% if user.is_authenticated %}
                  {% csrf_token %}
                    <button class="btn btn-sm btn-primary ml-2" type="submit">👍 Like ({{  comment.get_likes }})</button>
                {% else %}
                <button class="btn btn-primary"> <a href="/login">Login to like a comment</a></button>
                {% endif %}
             </form>
          {%  endfor %}

        </div>
        <div class="bg-white">
          <div class="d-flex flex-row fs-12">
          </div>
        </div>
        <div class="bg-light p-2">
          <div class="d-flex flex-row align-items-start">
{#            <form class="form-comment-control" action = '/add_comment' method = 'post'>#}
            <form method="POST" action="./{{ request.post_id }}">
                {% if user.is_authenticated %}
                  {% csrf_token %}
                  {{ comment_form.description|as_crispy_field }}
                    <button class="btn btn-primary ml-2" type="submit">Reply</button>
                {% else %}
                <button class="btn btn-primary"> <a href="/login">Login to leave a comment</a></button>
                {% endif %}
            </form>
          </div>
        </div>

    <div class="bg-light p-2">
          <div class="d-flex flex-row align-items-start">
            <form method="POST" action='./{{ request.post_id }}/like'>
                {% if user.is_authenticated %}
                  {% csrf_token %}
                    <button class="btn btn-sm btn-primary ml-2" type="submit">👍 Like ({{  post.get_likes }})</button>
                {% else %}
                <button class="btn btn-primary"> <a href="/login">Login to like a post</a></button>
                {% endif %}
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

    {% endblock %}