{% extends "blog/base.html" %}

{% block title %}Register{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container px-4 px-lg-5">
<div class="row gx-4 gx-lg-5 justify-content-center">
<div class="container py-5">
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
</div>
</div>

{% endblock %}